.cart {
  width: 400px;
  min-height: 300px;
  border: 5px solid rgb(1, 51, 55);
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #212121;
  margin-bottom: 10px;
  width: 90%;
}
